on boot && property:ro.vendor.hw.nfc=samsung
    start vendor.samsung_nfc_hal_service

service vendor.samsung_nfc_hal_service /vendor/bin/hw/android.hardware.nfc-service.samsung
    override
    class hal
    user nfc
    group nfc
    disabled
